div.login{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: white;
    word-break: normal;
    margin: 5% 25%;
    text-align: center;
    padding: 50px;
}
             
img{
	width: 70%;
    height: auto;
    padding: 15px;
}
            
input {
    color: #4662ab;
    width: 60%;
    height: auto;
    border: 0px;
    border-bottom: 1px solid;
    text-align: center;
}